<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col my-1">
                <p class="m-0">
                    &copy; 2025 Betterer - 高效组织工具 | 基于 <a href="https://app-generator.dev/product/datta-able/flask/" target="_blank">Datta Able</a> 构建
                </p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <li class="list-inline-item"><a href="{{ url_for('home_blueprint.index') }}">首页</a></li>
                    <!-- <li class="list-inline-item"><a href="{{ url_for('home_blueprint.profile') }}#help">使用帮助</a></li>
                    <li class="list-inline-item"><a href="{{ url_for('home_blueprint.profile') }}#about">关于我们</a></li>
                    <li class="list-inline-item"><a href="https://app-generator.dev/support/" target="_blank">技术支持</a></li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>